@{
    ViewData["Title"] = "Quadrant";
}
@model List<TaskInfo>

<div class="containerRound" style="border: 1px solid black">
    <div class="row">

        <div class="col" style="border: 1px solid black">
            <h1>Stephen Covey's Time Management Matrix</h1>
        </div>

    </div>

    <div class="row" style="border: 1px solid black">
        <div class="col-2" style="border: 1px solid black">
        </div>
        <div class="col-5" style="border: 1px solid black">
            <h3>Urgent</h3>
        </div>
        <div class="col-5" style="border: 1px solid black">
            <h3>Not Urgent</h3>
        </div>
    </div>

    <div class="row" style="border: 1px solid black">
        <div class="col-2" style="border: 1px solid black">
            <h3>Important</h3>
        </div>
        <div class="col-5" style="border: 1px solid black">
            <h5>Quadrant 1</h5>
        </div>
        <div class="col-5" style="border: 1px solid black">
            <h5>Quadrant 2</h5>
        </div>
    </div>

    <div class="row" style="border: 1px solid black">
        <div class="col-2" style="border: 1px solid black">
            <h3>Not Important</h3>
        </div>
        <div class="col-5" style="border: 1px solid black">
            <h5>Quadrant 3</h5>
        </div>
        <div class="col-5" style="border: 1px solid black">
            <h5>Quadrant 4</h5>
        </div>
    </div>
</div>

@foreach (var x in Model)
{
    <div class="containerRound" style="border: 1px solid black">
        <div class="row">

            <div class="col" style="border: 1px solid black">
                <h1>StephenCovey's Time Management Matrix</h1>
            </div>

        </div>

        <div class="row" style="border: 1px solid black">
            <div class="col-2" style="border: 1px solid black">
            </div>
            <div class="col-5" style="border: 1px solid black">
                <h3>Urgent</h3>
            </div>
            <div class="col-5" style="border: 1px solid black">
                <h3>Not Urgent</h3>
            </div>
        </div>

        <div class="row" style="border: 1px solid black">
            <div class="col-2" style="border: 1px solid black">
                <h3>Important</h3>
            </div>
            <div class="col-5" style="border: 1px solid black">
                <h5>@x.QuadrantId</h5>
            </div>
            <div class="col-5" style="border: 1px solid black">
                <h5>@x.QuadrantId</h5>
            </div>
        </div>

        <div class="row" style="border: 1px solid black">
            <div class="col-2" style="border: 1px solid black">
                <h3>NotImportant</h3>
            </div>
            <div class="col-5" style="border: 1px solid black">
                <h5>@x.QuadrantId</h5>
            </div>
            <div class="col-5" style="border: 1px solid black">
                <h5>@x.QuadrantId</h5>
            </div>
        </div>
    </div>
    <div><a class="btn btn-into" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a></div>
    <div><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></div>
}